---
Language: Cpp
BasedOnStyle: LLVM

UseTab: Always
TabWidth: 4
IndentWidth: 4
ColumnLimit: 140

NamespaceIndentation: Inner

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
  AfterNamespace: true
  AfterControlStatement: false

AllowShortFunctionsOnASingleLine: None

Cpp11BracedListStyle: true
BinPackArguments: false
AlignAfterOpenBracket: BlockIndent
...
