---
Language: Cpp
Standard: c++20
BasedOnStyle: LLVM

UseTab: Always
TabWidth: 4
IndentWidth: 4
ColumnLimit: 120

NamespaceIndentation: All

# Wrapping
BreakBeforeBraces: Allman

# Functions and methods
Cpp11BracedListStyle: true
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: OnePerLine

# Lambdas
AllowShortLambdasOnASingleLine: Empty

# Constructors
BreakConstructorInitializers: BeforeComma

# Math
AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: true
BreakBeforeTernaryOperators: true

# Other
SortIncludes: true
PointerAlignment: Left

InsertNewlineAtEOF: true
...
